<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

  <body>
    <div id="app" class="container-fluid">
      <div class="row rounded h-100 px-5 py-4">
        <div class="col px-3">
          <div class="col-12 h-100 w-100 m-0 shadow d-flex" style="background: hsl(0, 0%, 96%); border-radius: 1rem;">
            <div class="d-flex flex-column align-items-center pt-3 text-muted"
              style="width: 6% !important; font-size: 1.6em">
              <div class="my-3">
                <i class="fas fa-table-cells"></i>
              </div>
              <div class="my-3">
                <i class="fas fa-burger"></i>
              </div>
              <div class="my-3">
                <i class="fas fa-user"></i>
              </div>
              <div class="my-3">
                <i class="fas fa-arrow-right-from-bracket" style="transform: scale(-1)"></i>
              </div>
            </div>
            <div class="col border-start border-1 py-3 px-4">
              <div class="col-12 mb-5">
                <h1 class="fw-bold" style="color: #991728">Tables</h1>
              </div>
              <div class="col-12 d-flex flex-wrap">
                <div class="bg-danger bg-light shadow-sm mb-3 me-3 p-4 clickable"
                  style="width: 280px; height: 280px; border-radius: 1rem;" v-for="i in 20" @click="showInfo()">
                  <span class="fw-2">TABLE {{ i }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tableInfo" class="col-3 p-0">
          <div class="col-12 h-100 w-100 m-0 shadow" style="background: hsl(0, 0%, 96%); border-radius: 1rem">
            <div class="col-12 p-4 d-flex justify-content-between">
              <span class="pe-4">
                <i class="fas fa-xmark text-muted clickable" @click="hideInfo()" style="font-size: 1.6em"></i>
              </span>
              <h2 class="fw-bold">Table 1</h2>
              <span>
                <i class="fas fa-xmark text-muted clickable" @click="hideInfo()" style="font-size: 1.6em; opacity: 0;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        showTableInfo: false
      },
      methods: {
        showInfo() {
          var el = document.getElementById('tableInfo')
          el.style.animation = 'show .3s'
          el.style.width = '25%'
          el.style.display = 'initial'
        },
        hideInfo() {
          var el = document.getElementById('tableInfo')
          el.style.animation = 'hide .3s'
          setTimeout(() => {
            el.style.display = 'none'
            el.style.width = '0%'
          }, 300)
        }
      },
      created() {
        document.getElementById('app').style.height = window.innerHeight + 'px'
        document.getElementById('tableInfo').style.display = 'none'
        document.getElementById('tableInfo').style.overflow = 'hidden'

        window.onresize = () => {
          document.getElementById('app').style.height = window.innerHeight + 'px'
        }
      }
    })
  </script>

  <style>
    #tableInfo {
      animation: show .3s;
    }

    @keyframes show {
      from {
        width: 0%;
      }

      to {
        width: 25%
      }
    }

    @keyframes hide {
      from {
        width: 25%;
      }

      to {
        width: 0%
      }
    }
  </style>

</html>