body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  background: hsl(50, 10%, 95%);
  overflow: hidden
}

.text-theme-1 {
  color: #17252A !important
}

.text-theme-2 {
  color: #2B7A78 !important
}

.text-theme-3 {
  color: #3AAFA9 !important
}

.text-theme-4 {
  color: #DEF2F1 !important
}

.text-theme-5 {
  color: #FEFFFF !important
}

.text-theme-6 {
  color: #F8B400 !important
}

.bg-theme-1 {
  background-color: #17252A !important
}

.bg-theme-2 {
  background-color: #2B7A78 !important
}

.bg-theme-3 {
  background-color: #3AAFA9 !important
}

.bg-theme-4 {
  background-color: #DEF2F1 !important
}

.bg-theme-5 {
  background-color: #FEFFFF !important
}

.bg-theme-6 {
  background-color: #F8B400 !important
}

.selected-table {
  border: 3px solid #3AAFA9 !important;
}

.clickable:hover {
  cursor: pointer;
}

.clickable:active {
  opacity: .5;
}

.number-notification {
  position: absolute;
  font-size: 10px;
  background: #0075ff;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -30%;
  right: -80%;
}

.payment-active:active {
  background: #ddd;
}

.btn.focus, .btn:focus, .form-control.focus, .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.active, .btn:active {
  opacity: .9;
}

.btn.hover, .btn:hover {
  transform: scale(1.01);
  transition: .3s;
}

.edit-image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: .5rem;
  background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
}

@keyframes show {
  from {
    width: 0%;
  }

  to {
    width: 33.33%;
  }
}

@keyframes hide {
  from {
    width: 33.33%;
  }

  to {
    width: 0%;
  }
}

@media screen and (max-width: 992px) {
  body {
    overflow: initial
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #6e6e6e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #878787; 
}